.light-nav {
  color: white!important;
  button {
    color: white!important;
  }
}
.dark-nav {
  color: black!important;
  button {
    color: black!important;
  }
}

.menu-icon, .topBtn {
  font-size: 2rem;
}
.safe-padding {
  padding: 2.5rem;
}
html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  height: 100vh;
}

.topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 0; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  background: transparent;
  border: unset;
}

.topMenu {
  position: fixed; /* Fixed/sticky position */
  top: 0; /* Place the button at the bottom of the page */
  left: 0; /* Place the button 30px from the right */
  z-index: 999; /* Make sure it does not overlap */
  background: transparent;
  border: unset;
}

.topBtn:hover {
}

.link-hover-underline:hover {
  text-decoration: underline!important;
}


.text-light {
  color: #c8c8c8 !important;
}

.card-contributor {
  max-width: 600px;
}

@include media-breakpoint-up(lg) {
  .card-contributor {
    width: 40%;
    max-width: 600px;
  }
}

.image-text {
  position: absolute;
  top: 8px;
  left: 16px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);

}

.group-img {
  width: 100%;
  aspect-ratio: 1.3333;
  max-width: 1080px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    left: -10%;
    top: -10%;
    width: 110%;
    animation: example 50s linear infinite;
  }
}


@keyframes example {
  0%   {
    transform: translate(0%);
  }
  100% {
    transform: translate(10%, 10%);
  }
}

.c-img {
  max-width: 90vw;
  max-height: 90vh;
}


.zoomed,.c-img {
  transition: transform 1s;
  &:hover,&:active{
    transform: scale(1.1)
  }
}

.dropdown-menu, .dropdown-menu:hover {
  background-color: transparent!important;
  li > a{
    background-color: transparent!important;
  }
}

section {
  scroll-snap-align: start;
}

.scroll-end {
  scroll-snap-align: end;
}
.scroll-start {
  scroll-snap-align: start;
}
body {
  scroll-snap-type: y mandatory;
  height: 100vh;
  scroll-behavior: smooth;
}

@include media-breakpoint-down(lg) {
  .scroll-snap-mobile {
    scroll-snap-align: start;
  }
}
@include media-breakpoint-up(lg) {
  .top-section {
    height: unset;
  }
}

blockquote {
  border:none;
  margin-bottom:30px;
  line-height: 1;
}

blockquote p {
  font-size:min(3vw, 6vh);
}
blockquote h3 {
  font-size:min(5vw, 8vh);
  padding-left: 5vw;
  padding-right: 5vw;
}

blockquote h3:before {
  content: open-quote;
  font-weight: bold;
  font-size:8vw;
  color:#ACE6FF;
}
blockquote h3:after {
  content: close-quote;
  font-weight: bold;
  font-size:8vw;
  color:#ACE6FF;

}

.bg-image{
  background-color: #353b3e;
}